      <% wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki %></td>
          <td class="tdbuttons"><%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-success'%>
          <td class="tdbuttons"><%= link_to "Delete", wiki, method: :delete, class: 'btn btn-danger', data: {confirm:'Are you sure you want to delete this list?'} %>
        </tr>
      <% end %>
