<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Edit Wiki</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="pull-right">
      <% if @wiki.private? %>
        <%= link_to "Manage Colaborators", wiki_collaborations_path(@wiki), class: "btn btn-warning pull-right" %>
      <% end %>
    </div>

  <%= render partial: 'form', locals: {wiki: @wiki, action: "destroy?"} %>

<% if @wiki.collaborators.any? %>
  <div class="margin-top-50">
    <small>Collaborating with:
      <ul> 
        <% @wiki.collaborators.each do |collaborator| %>
          <li><%= collaborator.name %></li>
      <% end %>
      </ul>
    </small>
  </div>
<% end %>
  </div>
  <div class="col-md-2"></div>
</div>