<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Wikis</h2>
  </div>
</div>

<div class="row">

 <div class="col-md-6" id="public_wikis">
    <table class="table table-striped">
      <th colspan="3" class="text-center">Public wikis</th>
        <%= render partial: 'wikis', locals: { wikis: @wikis } %>
    </table>
  </div>

  <div class="col-md-6" id="my_wikis">
    <table class="table table-striped">
      <th colspan="3" class="text-center">My wikis</th>
        <%= render partial: 'wikis', locals: { wikis: @user_wikis } %>
    </table>
  </div>

</div>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>  