<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">New Wiki</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

  <%= render partial: 'form', locals: {wiki: @wiki, action: "create?", content: @wiki.body } %>

  </div>
  <div class="col-md-2"></div>

</div>
