<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Downgrade to Standard</h2>
  </div>
</div>

<div class="row text-center margin-top-20">
  <p>You have been a Premium user for <%= current_user.upgrade_since_days %> day/s.</p>
  <p>Refunds apply if user has been Premium for less than <%= current_user.refund_limit*24 %> hours, so you
  <%if current_user.refundable? %>
    <strong>ARE entitled to a refund</strong> if you cancel your subscription now.</p>
  <% else %>
    <strong>ARE NOT entitled to a refund</strong> if you cancel your subscription.</p>
  <% end %>
  <p>Are you sure you want to cancel it?</p>
  <%= link_to 'Downgrade', downgrade_proceed_path, class: 'btn btn-danger' %>
</div>