<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Downgrade to Standard</h2>
  </div>
</div>

<div class="row text-center margin-top-20">
  <p>You have been a Premium user for <%= current_user.upgrade_since_days %> day/s</p>
  <p><strong>Refunds apply if user has been Premium for less than <%= current_user.refund_limit*24 %> hours.</strong></p>
  <%if current_user.refundable? %>
    <%= link_to 'Downgrade & Refund', downgrades_path, method: :post, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Downgrade', downgrades_path, method: :post, class: 'btn btn-danger' %>
  <% end %>
</div>