@import 'bootstrap';

.tdbuttons {
  width: 60px;
  padding: 2px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-40 { margin-top: 4.0em; }
.margin-top-50 { margin-top: 5.0em; }

.margin-left-13 { margin-left: 1.3em; }


.centered {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.wiki {
  height: 500px;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 15px;
}

.collaborators {
  height: 180px;
  padding: 15px;
}

.benefits {
  background-color: #ffcc66;
  border-radius: 10px;
   width: 50%;
    margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.main-collab {
  background-color: #fefefe;
  border-radius: 10px;
  padding: 15px;
}

#epiceditor {
  height: 300px
}

.tr_header {
  font-weight: bold;
  font-size: 1.2em
}